.navigation ul {
  margin: 0;
  padding: 0;
}

.navigation li{
 display: inline-block;
}

.navigation a{
  color: white;
  margin: 1em;
  border: 1px solid white;
}

.navigation .active {
  border: none;
}