.navigation ul {
  margin: 0;
  padding: 0;
}

.navigation li{
 display: inline-block;
}

.navigation a{
  color: white;
  margin: 1em;
  text-decoration: none;
}

.navigation .active {
  border-bottom: 3px solid white;
}